<%
    body.id = ''
    pageTitle = "XEP-0050 Ad-Hoc Commands"
%>
<% include ./partials/head %>

        <div id="toc"></div>

        <h3>Get a list of commands</h3>

        <p>Discovering a list of commands supported by the server use:</p>

        <pre class="out callback" message="xmpp.command.list">
        socket.send(
            'xmpp.command.list'
            {
             /* "to": "evilprofessor.co.uk" */
            },
            function(error, data) { console.log(error, data) }
        )
        </pre>

        <p>Not providing a `<em>to</em>` key results in the request being made
        against the user's XMPP domain.</p>

        <p>Example response:</p>

        <pre class="example">
        [
          { node: 'config', name: 'Configure Service' },
          { node: 'reset', name: 'Reset Configuration' }
        ]
        </pre>

        <h3>Get information about a command</h3>

        <pre class="out callback" message="xmpp.command.info">
        socket.send(
            'xmpp.command.info',
            {
                "node": "config",
             /* "to": "evilprofessor.co.uk" */
            },
            function(error, data) { console.log(error, data) }
        )
        </pre>

        <p>Example response:</p>

        <pre class="example">
        [
           { kind: 'identity', type: 'command-node', name: 'Configure Service', category: 'automation' },
           { kind: 'feature', var: 'http://jabber.org/protocol/commands' },
           { kind: 'feature', var: 'jabber:x:data' }
        ]
        </pre>

        <h3>Execute a command</h3>

        <p>Executing a command is handled using the <em>xmpp.command.do</em> event.</p>

        <pre class="out callback" message="xmpp.command.do">
        socket.send(
            'xmpp.command.do'
            {
             /* "to": "evilprofessor.co.uk", */
                "node": "config",
             /* "action": "execute", */
             /* "form": [] */
            },
            function(error, data) { console.log(error, data) }
        )
        </pre>

        <p>Where `<em>form</em>` is formatted as a standard
        <a href="/manual/data-forms">data form</a>.</p>

        <p>Example response:</p>

        <pre class="example">
        {
           status: "completed",
         /* note: {
                type: 'info',
                description: 'Server has been restarted'
            }, */
         /* actions: {
                execute: 'next',
                values: [ 'prev', 'next']
            }, */
         /* form: ...parsed as dataform */
         /* oob: ...parsed as OOB data */
        }
        </pre>

<% include ./partials/footer %>