<%
    pageTitle = "XMPP using JSON"
%>
<% include ./partials/head %>

<h2>Introduction</h2>

<p>The goal of this project is to make XMPP really simple to use for developers. This module takes
away all of the XML and works by hooking to events which are passed between client and server
using a transport in JSON. In the example code we use socket.io, but there is no reason this
can not be replaced with engine.io, or implement your own transport and pass in as a connection.</p>

<p>The examples on this site use <a href="http://socket.io" target="_blank">socket.io</a> to handle
data transport and will attempt to use websockets before attempting to use alternative connection types.</p>

<h2>Getting started...</h2>

<div class="demo link">
    <a href="/demo">Know your XMPP?<br/>Click here to start experimenting</a>
</div>
<br/>
<p>Beginner and installation guides to come...</p>

<h2>Hosting</h2>

<img src="/img/nodejitsu-logo.png" class="nodejitsu-logo" />

<p><a href="https://xmpp-ftw.jit.su">https://xmpp-ftw.jit.su</a> is hosted for free by
<a href="http://www.nodejitsu.com" target="_blank">nodejitsu</a> as part of
their on-going commitment to open source software.</p>

<p>Nodejitsu is a great PaaS provider allowing you to very quickly and easily deploy nodejs apps online
within minutes. Please show nodejitsu some ❤. For more details see
<a href="http://opensource.jit.su/" target="_blank">opensource.jit.su</a>.</p>

<h2>Information</h2>

<p>Please click on the following links as appropriate:</p>

<ul>
  <li><a href="/manual" title="XMPP-FTW Manual">Manual</a></li>
  <li><del><a href="/extend" title="Extend XMPP-FTW">Extend</a></del></li>
  <li><a href="/demo" title="XMPP-FTW Demo">Demo</a></li>
  <li><del><a href="/chat" title="Example chat client">Example chat client</a></del></li>
  <li><a href="https://github.com/xmpp-ftw/xmpp-ftw">Github repository</a></li>
</ul>

<h2>Manual</h2>

<ul>
  <li><a href="/manual" title="XMPP-FTW Manual">Manual</a></li>
  <ul>
    <li><a href="/manual/core" title="XMPP Core">XMPP Core</a></li>
    <li><a href="/manual/jabber-rpc" title="XEP-0009 Jabber RPC">Jabber RPC [XEP-0009]</a></li>
    <li><a href="/manual/service-discovery" title="XEP-0030 Service Discovery (DISCO)">Service Discovery [XEP-0030]</a></li>
    <li><a href="/manual/multi-user-chat" title="XEP-0045 Multi User Chat (MUC)">Multi-user Chat [XEP-0045]</a></li>
    <li><a href="/manual/publish-subscribe" title="XEP-0060 Publish Subscribe (PubSub)">Publish Subscribe [XEP-0060]</a></li>
    <li><a href="/manual/jabber-search" title="XEP-0055 Jabber Search">Jabber Search [XEP-0055]</a></li>
    <li><a href="/manual/result-set-management" title="XEP-0059 Result Set Management (RSM)">Result Set Management [XEP-0059]</a></li>
    <li><a href="/manual/data-forms" title="XEP-0004 Data Forms">Data forms [XEP-0004]</a></li>
    <li><a href="/manual/out-of-band-data" title="XEP-0066 Out Of Band Data">Out of band data [XEP-0066]</a></li>
    <li><a href="/manual/data-forms" title="XEP-0004 Data Forms">Data Forms [XEP-0004]</a></li>
        <li><a href="/manual/delayed-delivery" title="XEP-0203 Delayed Delivery">Delayed Delivery [XEP-0203]</a></li>
    <li><a href="/manual/item-parser" title="Publishing to PubSub nodes">Publishing to pubsub [XEP-0060] nodes</a></li>
    <li><a href="/manual/in-band-registration" title="XEP-0077 In-Band Registration">In-Band Registration [XEP-0077]</a></li>
    <li><a href="/manual/avatar" title="XEP-0084 User Avatar">User Avatar [XEP-0084]</a></li>
    <li><a href="/manual/jingle" title="XEP-0166 Jingle">Jingle [XEP-0166]</a></li>
    <li><a href="/manual/message-archive-management" title="XEP-0313 Message Archive Management/MAM">Message Archive Management/MAM [XEP-0313]</a></li>
    <li><a href="/manual/unknown-stanza-handling" title="Unknown stanza handling">Unknown stanza handling</a></li>
    <li><a href="/manual/extensions" title="Additional extensions">Extensions</a></li>
      <ul>
        <li><a href="http://www.superfeedr.com" target="_blank">Superfeedr</a> support</li>
        <li><a href="http://www.buddycloud.com" target="_blank">buddycloud</a> support</li>
        <li><a href="http://www.fanout.io" target="_blank">Fanout.io</a> support</li>
      </ul>
   </ul>
</ul>

<h2>Architecture</h2>

<p>XMPP-FTW is made up of a group of modules. The main XMPP-FTW module
includes code for handling login/logout, presence, chat, and roster. In
addition to this it also includes small amounts of code to handle common
occurances in XMPP e.g. data forms (XEP-0004).</p>

<p>All other code is (or is in the process of being) broken into
separate modules. The current status of the modules is listed below:</p>

<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw.png" />
    </a> The main XMPP-FTW repo. Handles authentication, roster, presence,
    and chat. Includes small pieces of code that are seen frequently in
    XMPP (e.g. data form parsing)
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-rpc" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-rpc.png" />
    </a> Jabber RPC (XEP-0009) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-disco" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-disco.png" />
    </a> DISCO (XEP-0030) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-muc" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-muc.png" />
    </a> Multi User Chat/MUC (XEP-0045) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-search" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-search.png" />
    </a> Jabber Search (XEP-0055) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-pubsub" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-pubsub.png" />
    </a> Publish-Subscribe / PubSub (XEP-0060) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-register" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-register.png" />
    </a> In-Band Registration (XEP-0077) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-avatar" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-avatar.png" />
    </a> User Avatar (XEP-0084) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-jingle" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-jingle.png" />
    </a> Jingle (XEP-0166) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-mam" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-mam.png" />
    </a> Message Archive Management/MAM (XEP-0313) extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-superfeedr" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-superfeedr.png" />
    </a> Superfeedr extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-buddycloud" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-buddycloud.png" />
    </a> buddycloud extension for XMPP-FTW
</p>
<p class="project-status">
    <a href="https://github.com/fanout/xmpp-ftw-fanout" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/fanout/xmpp-ftw-fanout.png" />
    </a> Fanout.io extension for XMPP-FTW
</p>

<h3>Additional components</h3>

<p>There are also several smaller components which can be used seperately to
XMPP-FTW which perform useful utility tasks. These are listed below:</p>

<p>
    <a href="https://github.com/xmpp-ftw/xmpp-ftw-item-parser" target="_blank">
    <img class="build-status"
         src="https://secure.travis-ci.org/xmpp-ftw/xmpp-ftw-item-parser.png" />
    </a> An extension used for building and parsing commmon pubsub stanzas
</p>

<h1>Blog posts/Talks</h1>

<ul>
    <li><a href="https://t.co/Q9LvFHJw8N">https://t.co/Q9LvFHJw8N</a>
        <ul>
            <li>The future of XMPP on the web</li>
            <li>Presented at <a href="http://2013.realtimeconf.com">Realtime conf 2013</a></li>
        </ul>
    </li>
    <li><a href="http://talks.evilprofessor.co.uk/realtime-conf-2013/#/">http://talks.evilprofessor.co.uk/realtime-conf-2013/#/</a>
        <ul>
            <li>XMPP-FTW : XMPP For the WORLD</li>
            <li>Presented at <a href="http://2013.realtimeconf.com">Realtime conf 2013</a></li>
        </ul>
    </li>
    <li><a href="http://talks.evilprofessor.co.uk/realtime-conf-2013-intro">http://talks.evilprofessor.co.uk/realtime-conf-2013-intro</a>
        <ul>
            <li>The next generation of XMPP on the web</li>
            <li>Presented at <a href="http://2013.realtimeconf.com">Realtime conf 2013</a></li>
        </ul>
    </li>
    <li><a href="http://blog.superfeedr.com/easy-xmpp-ftw/">http://blog.superfeedr.com/easy-xmpp-ftw/</a>
        <ul><li>XMPP-FTW: XMPP and JSON for the Web</li></ul>
    </li>
    <li><a href="http://www.evilprofessor.co.uk/615-xmpp-ftw-now-supports-superfeedr/">http://www.evilprofessor.co.uk/615-xmpp-ftw-now-supports-superfeedr/</a>
        <ul><li>XMPP-FTW now supports <a href="http://www.superfeedr.com">SuperFeedr</a></li></ul>
    </li>
    <li><a href="http://www.evilprofessor.co.uk/573-talking-at-the-first-xmppuk-event-march-2013/">http://www.evilprofessor.co.uk/573-talking-at-the-first-xmppuk-event-march-2013/</a>
        <ul><li>Talking at the first XMPPUK event (March 2013) </li></ul></li>
    <li><a href="http://www.evilprofessor.co.uk/562-new-demo-system-for-xmpp-ftw/">http://www.evilprofessor.co.uk/562-new-demo-system-for-xmpp-ftw/</a>
        <ul><li>How the demo client works</li></ul>
    </li>
    <li><a href="http://www.evilprofessor.co.uk/579-xmpp-for-the-web-xmpp-ftw/">http://www.evilprofessor.co.uk/579-xmpp-for-the-web-xmpp-ftw/</a>
        <ul><li>Introduction to XMPP-FTW</li></ul>
    </li>
</ul>

<% include ./partials/footer %>
