<% 
    pageTitle = "XEP-0313 Message Archive Management/MAM"
%>
<% include ./partials/head %>

        <div id="toc"></div>
 
        <h3>Querying the archive</h3>

        <p>Querying the archive is achieved as follows with each of the keys 
        being optional. The format of the <em>rsm</em> key follows that at 
        <a href="/manual/result-set-management">result set management</a>.</p>
        
        <pre class="out callback" message="xmpp.mam.query">
        socket.emit(
            'xmpp.mam.query'
            {
             /* "queryId": "query-id", */
             /* "with": "someone@example.com", */
             /* "start": "2013-10-01T12:00:00Z", */
             /* "end": "2013-11-01T12:00:00Z", */
             /* "rsm": ...RMS payload... */
            },
            function(error, data) { console.log(error, data) }
        )
        </pre>

        <p>Once a request is received the message archive will fire message 
        stanzas to the user, once it is complete the callback will be called 
        with a value of <strong>true</strong> for the `<em>data</em>` key.</p>

        <h3>Incoming archived messages</h3>

        <p>Upon firing the above request messages (if present) will be sent 
        from your XMPP server and received using the event 
        `<em>xmpp.mam.message</em>`.</p>

        <p>This code extends the incoming chat message parser (documented 
        <a href="/manual/core#receive-a-chat-message">here</a>) but adds 
        the additional key of `<em>mam</em>` with an example below:</p>

        <pre class="in" message="xmpp.mam.message">
        {
            from: {
                domain: 'evilprofessor.co.uk',
                user: 'megan'
            },
            content: 'Hello fine Lady!',
            format: 'plain',
            mam: {
                to: {
                    domain: 'evilprofessor.co.uk',
                    user: 'lloyd',
                    resource: 'car'
                },
                id: '1234',
                queryId: 'query-id'
            },
         /* delay: { 
                from: 'evilprofessor.co.uk',
                when: '2013-06-03T19:56Z',
                reason: 'Offline storage'
            }, */
        }  
        </pre>

        <h3>Settting archive preferences</h3>

        <p>Setting archive preferences is performed as follows:</p>

        <pre class="out callback" message="xmpp.mam.preferences">
        socket.emit(
            'xmpp.mam.preferences'
            {
                "default": "roster",
             /* "always": [
                    "megan@evilprofessor.co.uk",
                    "boss@company.com"
                ], */
             /* "never": [
                    "confidential@friend.net"
                ], */
            },
            function(error, data) { console.log(error, data) }
        )
        </pre>

        <p>On success `<em>data</em>` will simply be <strong>true</strong>.</p>

<% include ./partials/footer %>